.errorPageDiv {
  top: 0;
  left: 0;
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing);
  background: rgb(33, 49, 90);
  overflow-x: hidden;
}

.errorPageDiv h2,
.errorPageDiv p {
  margin: 0;
  color: white;
}
