.locationSection {
  position: absolute;
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* LOCATION POPUP */
.locationPopup {
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.locationPopup.active {
  display: block;
}

.locationPopupContent {
  width: 90%;
  margin: 20% auto;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 15px;
}

.locationPopup .findLocation {
  width: 70%;
  margin: 0 auto;
}

.popupButtons {
  display: flex;
  flex-direction: column;
}
.closeLocation {
  border: none;
  background-color: transparent;
  font-family: var(--bodyFont);
  margin: 20px;
}

.closeLocation:hover,
.closeLocation:focus {
  color: brown;
  cursor: pointer;
}

/* INPUT FORM*/
.userLocationDiv,
.searchShopDiv {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.userLocationDiv span,
.searchShopDiv span {
  margin: 0 auto;
  padding: 5px 10px;
}

.userLocationDiv form,
.searchShopDiv form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.userLocationDiv label,
.searchShopDiv label {
  font-family: var(--bodyFont);
  font-weight: bold;
  padding: var(--spacing);
}

.userLocationDiv input,
.searchShopDiv input {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border: none;
  padding: var(--spacing);
  border-top-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 0;
}
.userLocationDiv.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* PREDICTIVE TEXT DROP DOWN */
.locationPredictiveResults {
  background-color: var(--input-grey);
  position: relative;
  z-index: 100;
}

.locationPredictiveResults ul {
  background-color: var(--input-grey);
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 100;
  width: 100%;
  display: none;
}

.locationPredictiveResults ul.active {
  display: block;
}

.locationPredictiveResults li {
  padding: 10px;
  border-top: 1px rgb(194, 194, 194) solid;
  transition: 0.1s background-color;
}

.locationPredictiveResults li:hover,
.locationPredictiveResults li:focus {
  background-color: var(--blue);
  cursor: pointer;
}

/* LOCATION FORM */
.locationForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 0;
}

.locationFormHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.locationForm p {
  text-align: center;
}

.returnToMain,
.findLocation {
  background-color: white;
  border: 2px transparent solid;
  width: calc((100% / 2)-20px);
  padding: 5px 10px;
  border-radius: 20px;
  transition: 0.3s color, 0.3s border;
  text-decoration: none;
  font-size: clamp(0.8rem, 4vw, 1.2rem);
  font-family: var(--bodyFont);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.returnToMain:hover,
.returnToMain:focus,
.findLocation:hover,
.findLocation:focus {
  color: var(--blue);
  border: 2px var(--blue) solid;
}
