@media (min-width: 1000px) {
  .App {
    display: flex;
  }
  header {
    width: 50%;
    height: 100%;
  }
  header .wrapper {
    height: 100%;
  }
  .imageSlide {
    height: 500px;
    width: 500px;
  }
  .image {
    animation: slideShowDesktop 20s infinite;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: #011627;
  }
  .welcomePageDiv {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
  .welcomePageDiv .wrapper {
    margin-top: 40%;
  }
  /* results section */
  .extraButtonsDiv {
    transform: translateY(-1000px);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: transform 0.4s;
  }
  .extraButtonsDiv.active {
    transform: translateX(0px);
  }
  .resultsDiv {
    height: 100%;
    max-width: 400px;
    width: 30%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: 0;
    left: auto;
    transition: transform 0.3s;
  }
  .resultsDiv.active {
    height: 100%;
    transform: translateY(0);
    transform: translateX(300px);
    transition: transform 0.3s;
    border: 3px var(--blue) solid;
  }
  .resultsOrderList {
    height: 100%;
    border-bottom-left-radius: 15px;
  }
  .expandResults {
    display: none;
  }
  .resultsSection .wrapper {
    display: flex;
    height: 100%;
  }
  .hamburgerMenu {
    display: block;
  }
  .closeMenu {
    background-color: transparent;
    display: block;
    border: 2px transparent solid;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    border-radius: 50%;
    transition: border 0.3s, color 0.3s;
  }
  .closeMenu:hover,
  .closeMenu:focus {
    border: 2px var(--blue) solid;
    color: var(--blue);
  }
  .minimizeResults {
    display: flex;
  }
  .resultsDiv ol.active {
    transition: transform 0.3s;
  }
  .resultsDiv ol.active {
    height: auto;
    transform: translateY(0);
    transform: translateX(200px);
  }
  .searchSuggestions {
    overflow-x: hidden;
  }
  /* directions section*/
  .directionsDiv {
    position: fixed;
    height: 100%;
    width: 30%;
    top: 0;
    right: 0;
    left: auto;
    max-width: 400px;
    margin: 0;
  }
  .expandDirections {
    display: none;
  }
  .directionsRouteTypeForm ul {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    flex-wrap: wrap;
    gap: 5px;
  }
  .directionsRouteTypeForm li {
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .directionsDiv.active {
    height: 100%;
    transform: translateX(300px);
    border: 3px var(--blue) solid;
  }
  .directionsOrderList,
  .directionsTopContainer {
    transition: transform 0.3s;
  }
  .directionsOrderList.active,
  .directionsTopContainer.active {
    transform: translateX(300px);
  }
  .changeSearchRadiusDiv {
    margin-top: 100px;
  }
  .changeRadiusBtn {
    transform: translateX(50%);
  }
}
