.resultsSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.searchSuggestions {
  border: 2px red solid;
  margin-top: 10px;
  white-space: nowrap;
  overflow-x: scroll;
}

.searchSuggestions button {
  font-family: var(--bodyFont);
  background-color: white;
  border: 2px transparent solid;
  margin-right: 10px;
  padding: 5px 8px;
  border-radius: 20px;
  transition: 0.3s color, 0.3s background-color;
  font-size: clamp(0.8rem, 4vw, 0.9rem);
}

.icon {
  margin-right: 0.2rem;
}

.searchSuggestions button:hover {
  border: 2px var(--blue) solid;
  color: var(--blue);
}

/* suggestions scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  scrollbar-color: blue;
}

.searchRadiusInput {
  position: relative;
}
/* range input */
.radiusLabel {
  font-size: clamp(0.5rem, 4vw, 0.8rem) !important;
  background-color: var(--orange);
  padding: 2px 5px;
  border-radius: 20px;
  width: fit-content;
  margin: 20px auto;
  font-weight: bold;
  text-transform: uppercase;
}

.rangeSlider {
  display: flex;
  flex-direction: column;
  position: relative;
}

/* CUSTOM RANGE SLIDER */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(90deg, var(--blue) 50%, rgb(192, 192, 192) 50%);
  cursor: pointer;
  width: 15rem;
  height: 10px;
  border-radius: 20px;
}
/* styles track for chrome, safari, opera, edge*/
input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 10px;
  height: 0.5rem;
}
/*styles track for firefox*/
input[type="range"]::-moz-range-track {
  border-radius: 10px;
  height: 0.5rem;
}

/* SLIDER THUMB*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-apperance: none;
  border: var(--blue) 2px solid;
  appearance: none;
  background-color: white;
  margin-top: -6px;
  height: 1rem;
  border-radius: 50%;
  width: 1rem;
}
input[type="range"]::-moz-range-thumb {
  border: var(--blue) 2px solid;
  border-radius: 0;
  background-color: white;
  height: 1rem;
  border-radius: 50%;
  width: 1rem;
}

/* SLIDER FOCUS */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--blue);
  outline: 2px solid var(--blue);
  outline-offset: 0.125rem;
}

.resultsSection form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.resultsSection label {
  text-align: center;
}
.resultsSection input {
  width: 50%;
  margin: 0 auto;
}

.expandResults {
  content: "";
  width: 50px;
  height: 5px;
  background-color: var(--black);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  position: absolute;
  top: 10px;
  cursor: pointer;
  z-index: 9999;
  transition: 0.3s background-color;
}

.expandResults:hover,
.expandResults:focus {
  background-color: var(--blue);
}

.resultsDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  margin: 20px 0 0;
  height: 40%;
  font-family: var(--bodyFont);
  text-align: center;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: 0.3s height;
  width: 100%;
  left: 0;
  z-index: 9999;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.resultsDiv.active {
  /* transform: translateY(10vh); */
  transition: 0.3s height;
  height: 90%;
}

.resultsDiv h2 {
  text-align: center;
  font-family: var(--bodyFont);
}

.resultsDiv h3 {
  font-size: clamp(0.9rem, 4vw, 1rem);
  margin: 0;
  color: var(--black);
}
.resultsDiv p {
  margin: 10px;
  font-size: clamp(0.8rem, 4vw, 0.9rem);
}

.resultsDiv ol {
  padding: 0;
  list-style: none;
}

.resultsDiv li {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* hamburger menu */
.hamburgerMenu {
  display: none;
  height: 50px;
  width: 50px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  transition: background-color 0.3s, transform 0.3s;
}
.hamburgerMenu:hover .hbLine {
  background-color: var(--blue);
}
.hamburgerMenu.active {
  transform: translateX(200px);
}
.hbLine {
  top: 10px;
  position: absolute;
  left: 10%;
  content: "";
  width: 35px;
  height: 3px;
  background-color: var(--black);
  transition: background-color 0.3s;
  border-radius: 30px;
}
.hbLine:hover,
.hbLine:focus {
  background-color: var(--blue);
}
.lineTwo {
  top: 20px;
}
.lineThree {
  top: 30px;
}

/* close button */
.closeMenu {
  display: none;
}

/* minimize results (desktop */
.minimizeResults {
  display: none;
  position: absolute;
  left: -40px;
  top: 50%;
  background-color: white;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px transparent solid;
  cursor: pointer;
  color: var(--black);
  transition: 0.3s color, 0.3s border;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.minimizeResults:hover,
.minimizeResults:focus {
  border: 2px var(--blue) solid;
  color: var(--blue);
}

.minimizeResultsIcon {
  align-self: center;
}
.shopImageDiv {
  display: flex;
  justify-content: center;
  width: 30%;
}

.shopImageContainer {
  overflow: hidden;
  width: 120px;
  height: 120px;
}

.shopImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mostAverageTitle {
  font-size: clamp(0.8rem, 4vw, 1rem) !important;
  font-style: italic;
  color: var(--black);
}
.shopTextDiv {
  width: 50%;
}
.shopTextDiv p {
  margin: 0;
}
.shopImageDiv img {
  width: 100%;
}
.resultsOrderList {
  background-color: white;
  overflow: scroll;
  height: 90%;
  text-align: left;
  margin: 0;
  border-top: 1px var(--black) solid;
  overflow-x: hidden;
}
.resultsOrderList.active {
  height: 90%;
}
ol p {
  font-size: clamp(0.85rem, 4vw, 1rem);
  margin: 0;
}

ol li {
  border-top: 1px solid grey;
  background-color: white;
}

.mostAverage {
  background-color: var(--orange);
}
.resultsDistance {
  font-size: clamp(0.7rem, 4vw, 0.8rem) !important;
  color: var(--black);
  background-color: var(--green);
  width: fit-content;
  border-radius: 20px;
  padding: 4px 8px;
  font-weight: bold;
  text-transform: none !important;
}

.directionIcon {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  color: var(--black);
  cursor: pointer;
  transition: 0.3s color;
}

.directionIcon:hover,
.directionIcon:focus {
  color: var(--blue);
}

/* search radius div */
.resultBack {
  position: absolute;
  width: fit-content;
  z-index: 9999;
}

.resultBack:hover,
.resultBack:focus {
  color: var(--blue);
}
.changeSearchRadiusDiv {
  display: none;
  margin: 40px 0 0;
  opacity: 0;
  animation: openMenu 0.3s forwards alternate-reverse;
}
.changeSearchRadiusDiv.active {
  display: block;
  animation: openMenu 0.3s forwards;
}
.extraButtonsDiv {
  width: 100%;
  position: absolute;
  top: -40px;
  text-align: left;
}
.changeRadiusBtn {
  width: fit-content;
  border: 2px transparent solid;
  transition: 0.3s all;
  z-index: 9999;
  font-size: 0.8rem;
}

.changeRadiusBtn:hover,
.changeRadiusBtn:focus {
  border: 2px var(--blue) solid;
}

.updateResults {
  width: fit-content;
  margin: 0 auto;
  background-color: transparent;
  border: 1.5px var(--blue) solid;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: var(--bodyFont);
  font-size: clamp(0.8rem, 4vw, 1rem);
  transition: 0.3s all;
}
.updateResults:hover,
.updateResults:focus {
  background-color: var(--blue);
  color: white;
}

@keyframes openMenu {
  from {
    opacity: 0;
    transform: translateY(-50px) scale(1, 0);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1, 1);
  }
}
