.resultsSection {
  display: flex;
  flex-direction: column;
  position: relative;
}
/* range input */
.radiusLabel {
  width: 50%;
  font-size: clamp(0.6rem, 4vw, 0.8rem);
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  border: 2px red solid;
}
/* range slider*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-moz-range-track {
  background-color: red;
  height: 10px;
  border-radius: 10px;
}
/* range thumbs */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  background-color: var(--input-grey);
}
/* range focus */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb,
input[type="range"]:focus::-moz-range-thumb {
  border: 2px solid var(--blue);
}

.resultsSection form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.resultsSection label {
  text-align: center;
}
.resultsSection input {
  width: 50%;
  margin: 0 auto;
}

.resultsSection .wrapper {
  width: 100%;
}

.expandResults {
  content: "";
  width: 50px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 10px;
  left: 45%;
  border-radius: 20px;
  cursor: pointer;
}

.resultsDiv {
  margin: 20px 0;
  font-family: var(--bodyFont);
}

.resultsDiv h2 {
  text-align: center;
  font-family: var(--bodyFont);
}

.resultsDiv h3 {
  font-size: clamp(1rem, 4vw, 1.4rem);
  margin: 0;
}

.resultsDiv ol {
  padding: 0;
  list-style: none;
}

.resultsDiv li {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.shopImageDiv {
  display: flex;
  justify-content: center;
  width: 30%;
}

.shopImageContainer {
  width: 100px;
  height: 100px;

  overflow: hidden;
  border-radius: 50%;
}

.mostAverageTitle {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  font-style: italic;
  color: var(--orange);
}
.shopTextDiv {
  width: 50%;
}
.shopImageDiv img {
  width: 100%;
}
.resultsOrderList {
  background-color: white;
  overflow: scroll;
  height: 300px;
}
.resultsOrderList.active {
  height: 70vh;
}
ol p {
  font-size: clamp(0.85rem, 4vw, 1.2rem);
  margin: 0;
}

ol li:nth-child(odd) {
  background-color: var(--input-grey);
}
ol li:nth-child(even) {
  background-color: white;
}
.resultsDistance {
  font-size: clamp(0.7rem, 4vw, 1rem);
}

.directionIcon {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
}
