/* SEARCH ITEM .JS */
.searchItemSection {
  position: absolute;
  z-index: 9999;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
}
.searchItemDiv {
  margin: 20px 0;
  height: 100%;
}

.searchItemDiv h2 {
  text-align: center;
}

.backButtonDiv {
  margin-bottom: 10px;
}
