.subHeaderBox {
  margin: 20px 0;
}

.getStartedButtonDiv {
  text-align: center;
}

.welcomePageDiv {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.welcomePageDiv .wrapper {
  display: flex;
  flex-direction: column;
}
