.subHeaderBox {
  margin: 0 20px 20px;
  display: flex;
  flex-direction: column;
}

.subHeaderBox h2 {
  margin-top: 10px;
}

.getStartedButtonDiv {
  text-align: center;
}

.welcomePageDiv {
  height: 45vh;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  padding: 10px;
}

.welcomePageDiv .wrapper {
  display: flex;
  flex-direction: column;
}
