.subHeaderBox {
  margin: 0 20px 20px;
}

.subHeaderBox h2 {
  margin-top: 10px;
}

.getStartedButtonDiv {
  text-align: center;
}

.welcomePageDiv {
  position: absolute;
  height: 50%;
  background-color: var(--orange);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.welcomePageDiv .wrapper {
  display: flex;
  flex-direction: column;
}
