h1 {
  padding: 10px;
  border-radius: 10px;
}

header {
  padding: 10px;
  background-color: var(--orange);
}

h2 {
  position: relative;
  z-index: 20 !important;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroImageDiv {
  margin: 50px auto;
  overflow: hidden;
}

.heroImageDiv img {
  align-self: center;
  width: 100%;
}

.imageSlide {
  white-space: nowrap;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
}

.image {
  display: inline-block;
  width: 100%;
  animation: slideShow 20s infinite;
}

@keyframes slideShow {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-400px);
  }
  25% {
    transform: translateX(-400px);
  }
  30% {
    transform: translateX(-800px);
  }
  50% {
    transform: translateX(-800px);
  }
  55% {
    transform: translateX(-1200px);
  }
  75% {
    transform: translateX(-1200px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
